
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 77px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 0 35px 10px 27px ;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
