
.textTitle {
    color: #151617;
    font-family: 'Golos Text';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

.headerSubmenu {
    display: flex;
    align-items: center;
    margin: 58px 30px 41px 9px;
    cursor: pointer;
    padding: 0 6px 0 3px;
    animation-duration: 2s;
    animation-name: slideinTitle;
}

.headerSubmenu:hover {
    background-color: lightgray;
}

.arrowIconToLeft {
    height: 13px;
    width: 7px;
    display: flex;
    padding-right: 11px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    margin: 0 30px 22px 27px;
    animation-duration: 2s;
    animation-name: slidein;
}

.stringBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.stringBox:hover {
    background-color: lightgray;
    padding: 0 3px 0 3px;
}

.textString {
    font-family: 'Golos Text';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

.arrowIconToRight {
    height: 13px;
    width: 7px;
}
.stringBoxSecond {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@keyframes slideinTitle {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 9px;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 27px;
        width: 100%;
    }
}
