
.textTitle {
    color: #151617;
    font-family: 'Golos Text';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

.headerSubmenu {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 58px 36px 41px 12px;
    cursor: pointer;
}

.headerSubmenu:hover {
    background-color: lightgray;
}

.arrowIconToLeft {
    height: 13px;
    width: 7px;
    display: flex;
    padding-right: 11px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    margin: 0 33px 22px 30px;
}

.stringBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.stringBox:hover {
    background-color: lightgray;
}

.textString {
    font-family: 'Golos Text';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

.arrowIconToRight {
    height: 13px;
    width: 7px;
}
.stringBoxSecond {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

